/*
 * -@TestCaseID: Char_Generics_Constraints_Definition_00313
 * -@TestCaseName: constraints_definition_00313.cj
 * -@TestCaseType: Function Test
 * -@RequirementID: AR-SR-ARKLANG-2025-09
 * -@RequirementName: Generics Constraints
 * -@Conditon: cjc, clang, maple test framework and python3.
 * -@Brief: Define one generics constraints for multi generics type variable.
 * -@Expect: Compile success, return 0.
 * -@Priority: level0
 */
