/*
 * -@TestCaseID: Char_Generics_Constraints_Instantiate_00209
 * -@TestCaseName: constraints_instantiate_00209.cj
 * -@TestCaseType: Function Test
 * -@RequirementID: AR-SR-ARKLANG-2095-09
 * -@RequirementName: Generics Constraints
 * -@Conditon: cjc, clang, maple test framework and python3.
 * -@Brief: Define generics constraints with instantiate.
 * -@Expect: Compile success, return 0.
 * -@Priority: level0
 */
