/*
 * -@TestCaseID: Char_Generics_Function_Constraints_00113
 * -@TestCaseName: constraints00113.cj
 * -@TestCaseType: Function Test
 * -@RequirementID: AR-SR-ARKLANG-2025-01
 * -@RequirementName: Generics Function
 * -@Conditon: cjc, clang, maple test framework and python3.
 * -@Brief: Define multi generics constraints for all type variables.
 * -@Expect: Compile success, return 0.
 * -@Priority: level0
 */
