[root]
  path = ../../
[suffix]
  cj = //
[env]
  LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH
[internal-var]
  compiler = cjc
  cmp_opt = -ulimit-error 
  ictu = $CANGJIE_HOME/tools/bin/ictu
  frontend = -frontend
  typecheck = -typecheck
  dump-parse = -frontend -dump-parse
  enableAD = -enable-ad
  backendjs = -backend js
  mod_opt = -module
  pkg_opt = -package
  output = %%n%%suffix
  suffix = .out
  main = main
  run = export LD_LIBRARY_PATH=$(pwd):$LD_LIBRARY_PATH &&
  run_pkg = export LD_LIBRARY_PATH=$(pwd):$LD_LIBRARY_PATH &&
  run_macro = export LD_LIBRARY_PATH=$(pwd):$LD_LIBRARY_PATH &&
  run_opt =
  run_args =
  chirvic = -chir-vic
  clang = clang
  llvm = -backend llvm
  closebuf = stdbuf -o0 -e0
  libdir = $CANGJIE_HOME/modules/%%run_env/
  ls = ls
  copycharjs = ls
  middle = o
  cffi_output = lib%%n.so
  clang_opt = -shared -fPIC
  cffi_opt = %%n.o %%n.cj
  ffic_opt = -ld-options="-lcangjie-ffic  -L. -l%%n" %%n.cj
  use_ast = -ld-options="-lcangjie-ast"
  use_pic_ast = -ld-options="-lcangjie-ast"
  pic_opt = -c -o define.o
  macro_lib_opt = -ld-options="-lcangjie-ast" ./define.o
  append_opt = -c -o append.o
  append_pic_opt = -c -o define.o
  append_macro_lib_opt = -ld-options="-lcangjie-ast" ./append.o ./define.o
  macro_debug = -debug-macro
  enable_macro =
  llvm_attach =
  mv_or_ls = ls
  cur_dir =
  output_pkg = pkg.o
  compile_pkg = pkg.o
  sync-link = -ld-options=" -L./ -lcangjie-sync"
  pkg_compile = -shared -ld-options="-lcangjie-ffic -L. -lc_ffi"
  pkg_link = -ld-options="-lcangjie-ffic  -L. -lc_ffi -lpkg"
  pkg_run =

  # stdx cfg
  stdx_cmp_opt = -backend llvm
  stdx_run_args =
  stdx_run_opt =
  stdx_run =
  tool_path=$CANGJIE_HOME/tools/bin
  javac = javac
  enableST = -enable-state-threading
  dump-ir = -frontend -dump-ir
  mpl = -frontend -backend mpl
  hlir = -backend hlir
  jsbackend = -backend js
  pandabackend = -frontend -backend panda
  core-link = -lcangjiecore
  ffiC-link = %%stdx-package -lcangjie-ffic
  stdx-sync-link = -lcangjie-sync
  # generate .s from maple mpl and binary mplt files
  gen_mpl = %%maple --run=mplipa:me:mpl2mpl:mplcg --option=%%gen_mpl_args --save-temps --infile
  gen_mpl_args ="--effectipa:--enable-ea:-O2 --regnativefunc --maplelinker:-O2 --no-pie --verbose-asm --gen-c-macro-def --maplelinker --fpic"
  # some object files used.
  mrt_module_init_object = $MAPLE_PRODUCT_OUT/maple_arm64/lib/mrt_module_init.o
  maple = $MAPLE_PRODUCT_OUT/maple_arm64/bin/maple
  lds = $MAPLE_PRODUCT_OUT/maple_arm64/lib/linker/maplelld.so.lds
  # run maple .so
  qemu_run = $MAPLE_PRODUCT_OUT/maple_arm64/bin/qemu_run normal -args=noargs -opt=O2
  # backend link options for metaprogramming.
  mtp_opt =
  libcj_opt = -ld-options="$CANGJIE_HOME/lib/libcangjie.a"
  python = python
  stdx-package = -L $CANGJIE_HOME/lib/%%run_env
  link-convert = -lcangjie-convert
  link-log =  -lcangjie-log
  link-io =  -lcangjie-io
  link-os =  -lcangjie-os
  link-collection =  -lcangjie-collection
  link-serialization =  -lcangjie-serialization
  link-time =  -lcangjie-time
  link-math =  -lcangjie-math
  link-format =  -lcangjie-format
  link-util =  -lcangjie-util
  link-net =  -lcangjie-net
  link-ffiC =  -lcangjie-ffic
  link-regex =  -lcangjie-regex
  link-unicode =  -lcangjie-unicode
  # stdx cfg end
  cffi_runtime_opt = -ld-options="-fno-addrsig"
  cffi_runtime_link = -I$CANGJIE_HOME/include -L $CANGJIE_HOME/lib/%%run_env/ -lcangjie-basert -Wl,-whole-archive -L $CANGJIE_HOME/lib/%%run_env/libcangjie-threadlocal.a -Wl,-no-whole-archive --rtlib=compiler-rt -lstdc++ -ldl -fno-omit-frame-pointer
  cffi_runtime_ld = -shared -ld-options="-fno-addrsig -lcangjie-ffic -L. -lffi%%n"
  run_env = linux_x86_64_llvm

[description]
  title = Cangjie2llvmgc Test

